<h4>Enter the details of product and press "submit"</h4>
<div>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="productId" name="productId" placeholder="Enter Product Id" [(ngModel)]="productId">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter Product Name" [(ngModel)]="productName">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Enter Product Code" [(ngModel)]="productCode">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="releaseDate" name="releaseDate" placeholder="Enter Product Release Date" [(ngModel)]="releaseDate">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Product Price" [(ngModel)]="price">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Product Description" 
        [(ngModel)]="description">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="starRating" name="starRating" placeholder="Enter Product Rating" 
        [(ngModel)]="starRating">
    </div>
    <div class="form-group" fxLayout="row" fxLayoutGap="20px">
        <input fxFlex="60" type="text" class="form-control" id="imageStr" name="imageStr" placeholder="Enter Image String"
        [(ngModel)]="imageStr">
        <button fxFlex="20" mat-raised-button color="primary" type="submit" (click)="showHideDisplayClipartComponent()">FindImages</button>
    </div>
    <div class="form-group">
        <app-display-clipart (addImageStringEE)="addImageStringToFormTextBox($event)" *ngIf='showDisplayClipartComponent'
        [imageStr]='imageStr'></app-display-clipart>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter Image Url" [(ngModel)]="imageUrl">
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="addProduct()" class="btn btn-primary">Add Product</button>
  </form>
</div>
